
<nav class="navbar navbar-inverse no-redius">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
     <li><a routerLink="/" routerLinkActive="active">Home</a></li>
     <li><a routerLink="/profile" routerLinkActive="active" *ngIf="authService.loggedIn()">Profile</a></li>

    </ul>

    <ul class="nav navbar-nav pull-right">
      <li *ngIf="authService.loggedIn()">{{currentUser.username}}</li>
      <!-- <li *ngIf="!isLoggedIn"><a routerLink="/register" routerLinkActive="active">Register</a></li> -->
      <li *ngIf="!authService.loggedIn()"><a (click)=authService.login()>Log In</a></li>
      <li *ngIf="authService.loggedIn()"><a (click)=authService.logout()>Log Out</a></li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>

